[tool.poetry]
name = "django-pydantic-settings"
version = "0.1.3"
description = "Manage Django settings with Pydantic."
authors = ["Josh Ourisman <me@josho.io>"]
license = "MIT"
readme = "README.md"
homepage = "https://github.com/joshourisman/django-pydantic-settings"
repository = "https://github.com/joshourisman/django-pydantic-settings"
packages = [
    { include = "pydantic_settings" }
]

[tool.poetry.dependencies]
python = "^3.6"
Django = "^3.1.5"
pydantic = "^1.7.3"
dj-database-url = "^0.5.0"

[tool.poetry.dev-dependencies]
black = "^20.8b1"
flake8 = "^3.8.4"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
