[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
ptpython = "*"
flake8 = "*"
black = "==20.8b1"
werkzeug = "*"
rope = "*"
flake8-black = "*"

[packages]
django = ">3.0,<3.2"
whitenoise = {extras = ["brotli"], version = "*"}
django-extensions = "*"
django-configurations = {extras = ["database"], version = "*"}
psycopg2-binary = "*"
django-model-utils = "*"

[requires]
python_version = "3.9"
